<tr>
  <td>
    <%= name %>
  </td>
  <td style="color: <%= coverage_css_class(source_files.covered_percent) %>;">
    <%= source_files.covered_percent.round(2) %>%
  </td>
  <td style="color: <%= strength_css_class(source_files.covered_strength) %>;">
  <%= source_files.covered_strength.round(2) %>
  </td>
</tr>